
* {
    margin: 0px;
}

body {
    background-color: rgb(0, 51, 20);
    color: rgb(245, 245, 247);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: 'Bruno Ace SC', cursive;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    font-size: 1.5rem;
}

nav > p {
    font-size: 2rem;
}

nav > #page-links {
    display: flex;
    list-style-type: circle;
}

nav > #page-links li {
    margin: 0rem 2rem;
}

nav > #page-links li a {
    text-decoration: none;
    color: rgb(245, 245, 247);
}

nav > #page-links li::marker {
    color: rgb(248, 153, 0);
    font-size: 2rem;
}

#about_me {
    color: rgb(238, 222, 197);
    margin-top: 75px;
    height: 300px;
    padding: 50px 100px;
}

#about_me>#intro {
    font-size: 72px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

#about_me>#about {
    font-size: 24px;
    text-align: justify;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

#intro strong {
    color: rgb(253, 178, 58);
}

#about > em {
    color: rgb(253, 215, 154);
}

#stacks {
    display: flex;
    padding: 40px;
    justify-content: center;
}

.tech {
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    margin: 0px 40px;
}

#stacks > .tech img {
    width: 16px;
    margin-right: 10px;
}

#projects {
    background-color: rgb(6, 44, 22);
    padding: 50px 200px;
    color: rgb(238, 222, 197);
}

#projects > #container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 1050px;
}

.title {
    font-family: 'Press Start 2P', cursive;
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
}

.project > .name {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

.project > .name a{
    text-decoration: none;
    color: rgb(250, 186, 83);
}

.project > img {
    height: 250px;
}

#contacts {
    background-color:rgb(180, 127, 40);
    height: 175px;
    color: rgb(1, 87, 35);
    padding: 50px 200px 0px;
}

#contacts > .container {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding:0px 200px;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact > img {
    height: 36px;
    margin-right: 10px;
}

.contact > .name a {
    text-decoration: none;
    color: rgb(238, 222, 197);
}

#footer {
    background-color:rgb(238, 222, 197);
    color: rgb(0, 51, 20);
    height: 32px;
    font-family: 'Bruno Ace SC', cursive;
    margin: 0px;
    display: flex;
    justify-content: center;
}

/* Media Query */

