
* {
    margin: 0px;
}
body {
    background-color: rgb(0, 51, 20);
    margin: 20px 0px;
    color: rgb(238, 222, 197);
    display: flex;
    flex-direction: column;
}

nav,#about_me{
    margin: 0px 200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    
}

nav > p a{
    color: rgb(238, 222, 197);
    font-family: 'Bruno Ace SC', cursive;
    font-size: 32px;
    text-decoration: none;
   
}

nav > ul {
    display: flex;
    list-style-type: circle;
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
}

nav > ul li {
    margin: 0px 25px;
}

nav > ul li a {
    color: rgb(238, 222, 197);
    text-decoration: none;
}

nav > ul li::marker {
    color: rgb(248, 153, 0);
    font-weight: bold;
    font-size: larger;
}

nav > p a:hover,nav > ul li a:hover {
    text-shadow: 0 0 5px rgb(238, 222, 197);
}

#about_me {
    color: rgb(238, 222, 197);
    margin-top: 75px;
    height: 300px;
    padding: 50px 100px;
}

#about_me>#intro {
    font-size: 72px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

#about_me>#about {
    font-size: 24px;
    text-align: justify;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

#intro strong {
    color: rgb(253, 178, 58);
}

#about > em {
    color: rgb(253, 215, 154);
}

#stacks {
    display: flex;
    padding: 40px;
    justify-content: center;
}

.tech {
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    margin: 0px 40px;
}

#stacks > .tech img {
    width: 16px;
    margin-right: 10px;
}

#projects {
    background-color: rgb(6, 44, 22);
    padding: 50px 200px;
    color: rgb(238, 222, 197);
}

#projects > #container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 1100px;
}

#projects > .title {
    font-family: 'Press Start 2P', cursive;
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
}

.project > .name {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

.project > .name a{
    text-decoration: none;
    color: rgb(250, 186, 83);
}

.project > img {
    height: 250px;
}